<a href="https://colab.research.google.com/github/Faheemfemu/python-questions/blob/main/Python_Questions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##**Important questions of python**

In [ ]:
a=int(input())
b=int(input())
a , b = b , a
print('after swaping a:' , a)
print('after swaping b:', b)

3
4
after swaping a: 4
after swaping b: 3

In [ ]:
x=int(input())
n=int(input())
print(x**n)

10
4
10000

In [ ]:
n1=int(input())
n2=int(input())
n3=int(input())
d=n2-n1 or n3-n2
print(d)

1
2
3
1

In [ ]:
n=int(input())
while n > 0:

In [ ]:
n=int(input())
if n > 0:
  print("positive")
elif n < 0:
  print('negative')
else:
  print('zero')

0
zero

In [ ]:
n=int(input())
if n<0:
  print('enter a positive number')
else:
 sum=0
 while n>0:
  sum=sum+n
  n-=1 
 print(sum)

10
55

In [ ]:
n=int(input())
count=1
for i in range (n+1):
   count=count+i
   i=i+1
   print(count)

5
1
2
4
7
11
16

In [ ]:
n = int(input())
x = 0
y = 1
z = 0
while z<=n:
    print(z)
    x=y
    y=z
    z=x+y

5
0
1
1
2
3
5

In [ ]:
li=[12,11,14,64,27,27]
set1=set(li)
li2=list(set1)
l3=sorted(li2)
l3[-2]

64

In [ ]:
lit=[12,13,[],2,[],5]
[x for x in lit if x!=[]]

[[], []]

In [ ]:
df.rename(columns={'':'',})

In [ ]:
def plusMinus(arr):
    # Write your code here
    positivecount=0
    negativecount=0
    zerocount=0
    for i in range (0,len(arr)):
        if arr[i] > 0:
            positivecount +=1
        elif arr[i] < 0:
          negativecount +=1
        else:
          zerocount+=1
    print("{0:.6f}".format((positivecount / len(arr))) )
    print("%1.6f "%(negativecount / len(arr)))
    print("%1.6f "%(zerocount / len(arr)))

if __name__ == '__main__':

    arr = [-4, 3, -9, 0, 4, 1]

    plusMinus(arr)

0.500000
0.333333
0.166667

Complete the miniMaxSum function in the editor below.

miniMaxSum has the following parameter(s):

arr: an array of 5 integers

In [ ]:
import sys

#
# Complete the 'miniMaxSum' function below.
#
# The function accepts INTEGER_ARRAY arr as parameter.
#

def miniMaxSum(arr):
    # Write your code here
    arr1=sorted(arr)
    minsum=0
    maxsum=0
    for i in range(0,(len(arr1)-1)):
        minsum += arr[i]
    for i in range(1,len(arr1)):
        maxsum += arr1[i]
    print(minsum,end=' ')
    print(maxsum,end=' ')

if __name__ == '__main__':

    arr = [1, 2, 3 ,4 ,5]
    #test case 2
    arr=[7, 69, 2, 221, 8974]

    miniMaxSum(arr)

299 9271

In [ ]:
def fizzBuzz(n):
  for i in range (1,n+1):
    if i==3*5:
      print('fizzBuzz')
    elif i%3==0:
      print('fizz')
    elif i%5==0:
      print('Buzz')
    else:
      print(i)
fizzBuzz(15)

1
2
fizz
4
Buzz
fizz
7
8
fizz
Buzz
11
fizz
13
14
fizzBuzz

In [ ]:
def array(arr):
  li=sorted(arr)
  print(li[(len(li)+1)//2-1])
array([0 ,1 ,2, 4, 6, 5, 3])

3

You are given a string and your task is to swap cases. In other words, convert all lowercase letters to uppercase letters and vice versa.

For Example:

Www.HackerRank.com → wWW.hACKERrANK.COM
Pythonist 2 → pYTHONIST 2

In [ ]:
def swap_case(s):
  result=' '
  for i in range (0,len(s)):
    if (s[i].islower()==True):
      result += (s[i].upper())
    elif (s[i].isupper()==True):
     result += (s[i].lower())
    else:
     result +=s[i]
  return result

swap_case('HackerRank.com presents "Pythonist 2".')

' hACKERrANK.COM PRESENTS "pYTHONIST 2".'

In [ ]:
def swap_case(s):

    # sWAP cASE in Python - HackerRank Solution START
    Output = '';
    for char in s:
        if(char.isupper()==True):
            Output += (char.lower());
        elif(char.islower()==True):
            Output += (char.upper());
        else:
            Output += char;
    return Output;
    # sWAP cASE in Python - HackerRank Solution END
swap_case('Asdf,')

'aSDF,'

Task
You are given a string. Split the string on a " " (space) delimiter and join using a - hyphen.

In [ ]:
def split_and_join(line):
    # write your code here
    li=line.split(' ')
    lin='-'.join(li)
    return lin
l=split_and_join('this is my name')

this-is-my-name

You are given the firstname and lastname of a person on two different lines. Your task is to read them and print the following:

Hello firstname lastname! You just delved into python.

In [ ]:
def print_full_name(first, last):
    # Write your code here
 print(f'Hello {first} {last}! You just delved into python.')
if __name__ == '__main__':
    first_name = input()
    last_name = input()
    print_full_name(first_name, last_name)

mohd
faheem
Hello mohd faheem! You just delved into python.

In [ ]:
def lonelyinteger(a):
    # Write your code here
    for i in range (0,len(a)):
      if a.count(i)==1:
        print(i) 
lonelyinteger([1,2,3,4,3,2,1])

4

In [ ]:
def lonelyinteger(a):
    # Write your code here
    unique = [val for val in a if a.count(val) == 1 ]
    for i in unique:
        return i 
lonelyinteger([1,2,3,4,3,2,1])

4

In [ ]:
input='sky is blue'
output='blue is sky'

In [ ]:
li=input.split(' ')
l2=li[::-1]
output=' '.join(l2)
output

'blue is sky'

In [ ]:
lis=[1,2,2,3,3,4,5,5,6,6]
for i in lis:
  if lis.count(i)==1:
     print(i)

1
4

In [ ]:
unique = [val for val in lis if lis.count(val) == 1 ]
unique
#for i in unique:
   #print(i )

[1, 4]

In [ ]:
mystr="a,a,a,b,b,c,c,c"
#output=a:3,b:2,c:3
l=mystr.split(',')
l2=[]
l3=[]
for i in l:
  if i not in l2:
    l3.append(f'{i}:{l.count(i)}')
    l2.append(i)
print(','.join(l3))

a:3,b:2,c:3

In [ ]:
p=['1234python668' , '678java899' , '4566hadoop9123']
#output ['1234668', '678899', '45669123']
#output ['python', 'java', 'hadoop']
l1=[]
l2=[]
for word in p:
  int_val=''
  str_val=''
  for chr in word:
    if chr.isdigit():
      int_val =int_val+chr
    else:
      str_val +=chr
  l1.append(int_val)
  l2.append(str_val)
print(l1)
print(l2)

['1234668', '678899', '45669123']
['python', 'java', 'hadoop']

In [ ]:
input="Ac*wv12n/:#e123we2.45oin (fwoi6n#a98nfwb+owi"
#output=[2.45,6,12,98,123]
li=[]
for i in input:
  int_val=''
  chr_val=''
  if i.isdigit():
    int_val +=i
  else:
    chr_val +=i
li.append(int_val)
print(li)

['']

##Perfect Number
Easy
Write a python program to check a given number is perfect or not.

Note: A perfect number is a positive integer that is equal to the sum of its positive divisors, excluding the number itself.

Lets understand it with example

6 is a positive number and its divisor is 1,2,3 and 6 itself.

But we should not include 6 as by the definition of perfect number.

Lets add its divisor excluding itself

1+2+3 = 6 which is equal to number itself.

It means 6 is a Perfect Number.

In [ ]:
n = int(input())
sum=0
for i in range(1,n):
    if n%i==0:
        sum=sum+i
if sum==n:
   print('It is Perfect Number')
else:
  print('It is not perfect number')

1256488
It is not perfect number

##Remove char. from string
 Easy
Write a python program to remove a given character from string.

In [ ]:
str = input()
ch = input()
for i in str:
 t=str.replace(ch," ")
print(t)

I know python coding
o
I kn w pyth n c ding

##Find last position of substring
Easy
Write a python program to find the last position of a given substring.

In [ ]:
str1 =input()
substr=input()
for i in str1:
  t=str1.rfind(substr)
print(t)

practice and practice untill you fail
untill
22

In [ ]:
Input="(()) (()) () ((()()()))"
l=Input.split(" ")
l1=[]
l2=[]
for i in l:
  #l1.append(i)
  for j in i:
    #l.count(j)
    #l1.append(i)
    l2.append(i.count(j))
print(l2)

[2, 2, 2, 2, 2, 2, 2, 2, 1, 1, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5]

##Find maximum depth of nested parenthesis in a string

In [ ]:
def maxDepth(s):
 
    count = 0
    st = []
 
    for i in range(len(s)):
        if (s[i] == '('):
            st.append(i) # pushing the bracket in the stack
        elif (s[i] == ')'):
            if (count < len(st)):
                count = len(st)
            # keeping track of the parenthesis and storing
            # it before removing it when it gets balanced
            st.pop()
         
    return count
 
# Driver program
 
s = "( ((X)) (((Y))) )"
print(maxDepth(s))

4

In [ ]:
Input='( ()) ((()()())) (()) ()'
Input.split(" ")

#Output:['(())', '((()()()))', '(())', '()']

['(', '())', '((()()()))', '(())', '()']